@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Special+Gothic+Expanded+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Special+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #727272;

  padding-bottom: 100px;
}

.menu {
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 15px 15px;

  border-bottom: solid 3px rgba(241, 240, 240, 0.2);
  backdrop-filter: blur(7px);
  background-color: #4949495a;

  position: fixed;
  z-index: 100000;
}

.menu a {
  text-align: center;
  color: rgba(204, 204, 204, 0.9);
  text-decoration: none;

  font-family: "Outfit", sans-serif;
  position: relative;
}

.menu a::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -5%;
  left: 0;
  transition: 0.5s ease;
  background-color: rgba(245, 245, 245, 0.756);
}

.menu a:hover::after {
  width: 100%;
}

.logo {
  min-width: 5vw;
  max-width: 50px;
  height: auto;
  background-color: #494949;
  border-radius: 5px;
}

.rocks {
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 2px rgba(0, 0, 0, 0.2);
  box-shadow: -6px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 90%;
  height: 90vh;
  max-width: 1000px;
  max-height: 800px;

  position: absolute;
  right: 5vw;
  top: 20vh;

  overflow: hidden;

  margin-bottom: 100px;
}

@media (min-width: 1150px) {
  .rocks {
    right: 16vw;
  }
}

.rock1 {
  width: 70%;
  max-width: 500px;
  min-width: 100px;
  height: auto;
  z-index: 3;
  position: absolute;
  bottom: -10%;
  right: 20%;
}

.rock2 {
  width: 50%;
  height: auto;
  max-width: 400px;
  min-width: 100px;
  z-index: 2;
  position: absolute;
  bottom: -10%;
  right: -10%;
}

.rock3 {
  width: 55%;
  height: auto;
  max-width: 500px;
  min-width: 100px;
  transform: rotate(30deg);
  z-index: 1;
  position: absolute;
  bottom: -15%;
  left: -5%;
}

.titulo {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 510%;

  text-align: center;

  color: rgba(245, 245, 245, 0.756);
  position: relative;
  right: 0.5vw;
}

@media (max-width: 700px) {
  .titulo {
    font-size: 13vw;
  }
}

.perfum {
  width: 50%;
  height: auto;
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: 5;
}
